//variables
$heading-color: rgb(122, 182, 48);
$backgroundcolor: rgb(255, 255, 255);
$boxshado: 0 1rem 3rem rgba(0, 0, 0, 0.175);
$footercolor:rgb(234, 234, 234);
$checkoutoredercolor:rgb(254, 250, 233);